@font-face {
    font-family: 'TTMilksCasualOutline-Shadow';
    src: url('TTMilksCasualOutline-Shadow.woff2') format('woff2'),
        url('TTMilksCasualOutline-Shadow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TTMilksCasualOutline-Shadow';
    src: url('TTMilksCasualOutline-Shadow.woff2') format('woff2'),
        url('TTMilksCasualOutline-Shadow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

